fastapi==0.115.7
gradio==5.13.1
langchain-chroma==0.2.1
langchain-community==0.3.15
langchain-core==0.3.31
langchain-experimental==0.3.4
langchain-groq==0.2.3
langchain-openai==0.3.2
langchain-anthropic==0.3.10
langgraph==0.2.68
langgraph-sdk==0.1.51
notebook==7.3.2
openai==1.60.2
pandas==2.2.3
pydantic==2.10.6
pydantic-core==2.27.2
pydantic-settings==2.7.1
pyfiglet==1.0.2
pyprojroot==0.3.0
python-dotenv==1.0.1
sqlalchemy==2.0.37
termcolor==2.5.0
black==24.10.0
python-json-logger==3.2.1
redis==5.2.1
loguru==0.7.3
boto3==1.37.22
langchain-mcp-adapters==0.0.6